/* font-family: 'Roboto', sans-serif;  */


/* ===== CSS RESET =========  */

* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    /* background-color: #FF0000; */
    background-color: #fff;
}


/* ===================== NAVBAR =============  */

#nav {
    width: 100%;
    padding: 1rem 0rem;
    background-color: rgba(255, 255, 255, 0.041);
    border: 0.5px solid rgba(128, 128, 128, 0.096);
}

#nav .container {
    width: 95%;
    margin: auto;
    display: flex;
}

#nav .container .box {
    width: 100%;
}

#nav .container .box1 {
    width: 50%;
    display: flex;
}

#nav .container .box2 {
    display: flex;
}

#nav .container .box3 {
    width: 40%;
    display: flex;
}

#nav .container .box1 i {
    font-size: 1rem;
    margin: 0rem 0.5rem;
}

#nav .container .box1 .logo i {
    color: #ff0000;
}

#nav .container .box2 .search input {
    border: 0.5px solid rgba(128, 128, 128, 0.191);
    padding: 0.3rem;
    margin-right: 1rem;
}

#nav .container .box2 .mic i {
    background-color: rgba(128, 128, 128, 0.133);
    padding: 0.3rem 0.4rem;
    border-radius: 50%;
}

#nav .container .box3 .icon i {
    margin: 0rem 1rem;
}


/* ===================== HERO SECTION =============  */

#hero {
    width: 100%;
}

#hero .container {
    width: 95%;
    margin: auto;
    display: flex;
}

#hero .container .side-icon {
    width: 7%;
    /* background-color: red; */
    font-size: 0.7rem;
    padding: 1rem 0rem;
}

#hero .container .side-icon .icon {
    margin: 1.5rem 0rem;
    text-align: center;
}

#hero .container .side-icon .icon i {
    font-size: 1.3rem;
}

#hero .container .side-icon .icon p {
    margin-top: 0.4rem;
}

#hero .container .content-box {
    margin-left: 1rem;
}

#hero .container .content-box .tag-container {
    display: flex;
    padding: 0.5rem;
}

#hero .container .content-box .tag-container p {
    margin: 0.5rem;
    border: 1px solid gray;
    border-radius: 2rem;
    padding: 0.5rem;
    background-color: rgba(128, 128, 128, 0.111);
}

#hero .container .content-box .tag-container .special-style {
    background-color: black;
    color: white;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
}

#hero .container .content-box .video-container {
    width: 100%;
}

#hero .container .content-box .video-container .video-card {
    display: flex;
    justify-content: space-around;
}

#hero .container .content-box .video-container .video-card .video {
    width: 100%;
    margin: 0rem 0.5rem;
}

#hero .container .content-box .video-container .video-card .video iframe {
    width: 100%;
    height: auto;
}